<% provide(:title,"Patients")%>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Dashboard", admin_home_path, class:"text-decoration-none" %></li>
    <li class="breadcrumb-item active" aria-current="page">Patients</li>
  </ol>
</nav>
<div class="row">
    <%=render 'admin/shared/admin_sidebar'%>
    <div class="col-9">
        <div class="mb-4 card">
            <div class="card-header">
                <div class="row">
                    <div class="col-8 d-flex align-items-center">Patients</div>
                    <div class="col-4">
                        <%= link_to "Create New Patient", new_admin_patient_path,  class:"btn btn-primary btn-block ml-auto" %>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th colspan="3">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="mx-auto text-center">
                                <% @patients.each do |p| %>
                                    <tr>
                                        <td><%= p.firstname %></td>
                                        <td><%= p.lastname %></td>
                                        <td><%= p.email %></td>
                                        <td><%= p.age %></td>
                                        <td><%= p.gender %></td>
                                        <td><%= link_to 'Show', admin_patient_path(p.id), class:"my-2 btn btn-outline-info btn-sm" %></td>
                                        <td><%= link_to 'Edit', edit_admin_patient_path(p.id), class:"my-2 btn btn-outline-primary btn-sm"%></td>
                                        <td><%= link_to 'Destroy', admin_patient_path(p.id), class:"my-2 btn btn-outline-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                    </tr>
                                <%end%>
                            </tbody>
                        </table>
                        <div class="mx-auto mt-4"><%= will_paginate @users%></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
