<p id="notice"><%= notice %></p>

<p>
  <strong>Age:</strong>
  <%= @patient.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patients.gender %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @patients.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @patients.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patients.email %>
</p>

<%= link_to 'Edit', edit_admin_patient_path(@admin_patient) %> |
<%= link_to 'Back', admin_patients_path %>
