<% provide(:title,"Users")%>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Dashboard", admin_home_path, class:"text-decoration-none" %></li>
    <li class="breadcrumb-item active" aria-current="page">Users</li>
  </ol>
</nav>
<div class="row">
    <%=render 'admin/shared/admin_sidebar'%>
    <div class="col-9">
        <div class="mb-4 card">
            <div class="card-header">
                <div class="row">
                    <div class="col-8 d-flex align-items-center">Users</div>
                    <div class="col-4">
                        <%= link_to "Create New User", new_admin_user_path,  class:"btn btn-primary btn-block ml-auto" %>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="">
                        <p>
                            <strong>First Name:</strong>
                            <%= @users.firstname %>
                        </p>

                        <p>
                            <strong>Last Name:</strong>
                            <%= @users.lastname %>
                        </p>

                        <p>
                            <strong>Email:</strong>
                            <%= @users.email %>
                        </p>

                        <p>
                            <strong>Status:</strong>
                            <%if @users.is_admin?%>
                                <td class="align-middle">Admin</td>
                            <%else%>
                                <td class="align-middle">Physician</td>
                            <%end%>
                        </p>

                        <%= link_to 'Edit', edit_user_path(@users) , class:"btn btn-primary"%>
                        <%#= link_to 'Back', admin_patients_path %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
